In [1]:
#geodetector, but it is not perfect

#SSW和SST 分别为层内方差之和（Within Sum of Squares） 和全区总方差（Total Sum of Squares）
def geodetector(vari_x, vari_y):     #vari_x means independent variable, vari_y means dependent variable
    import numpy as np
    SST = np.var (vari_y)
    SSW = np.sum (vari_x)
    q = 1-SSW/SST
    if q > 1:
        print("Please check your data")
        return q
       
    if q >= 0.6 and q <= 1:
        print("the the layout of former factor decided by the latter factors")
        return q
    if q >= 0.3 and q < 0.6:
        print("the the layout of former factor slightly decided by the latter factors")
        return q
    if q < 0.3 and q >= 0:
        print("there are no significant relationship between these two factors")
        return q
    if q <  0:
        print("there is absolutely no relationship between them, but it is better to check your data input")
        return q

In [2]:
import pandas as pd
import numpy as np

ex = pd.read_csv('Example of salinity and bleaching.csv')
#EX = np.array(ex)
#EX

In [3]:
ex

    SalinityCategory  Bleaching_Rate
0                  1              32
1                  2              59
2                  4              66
3                  4               8
4                  2              55
5                  3              36
6                  3              84
7                  1              22
8                  4              95
9                  2              66
10                 1              57
11                 3              18
12                 2              59
13                 2              92
14                 4              14
15                 3              33
16                 1              63

In [4]:
ex.groupby('SalinityCategory').Bleaching_Rate.count().nlargest(20).plot(kind='bar', figsize=(12,6))

In [5]:
ex.groupby('SalinityCategory').Bleaching_Rate.mean().nlargest(20).plot(kind='bar', figsize=(12,6))

In [41]:
#np.var (ex.Bleaching_Rate)

In [42]:
#ex.groupby(ex.SalinityCategory)

In [6]:
gb = ex.groupby('SalinityCategory')

In [7]:
len(gb)

4

In [8]:
groups = gb.groups
list(groups.keys())

[1, 2, 3, 4]

In [46]:
#gb.get_group('3').head()

In [9]:
gb.Bleaching_Rate.var()

SalinityCategory
1     385.666667
2     223.700000
3     818.250000
4    1756.250000
Name: Bleaching_Rate, dtype: float64

In [10]:
ex.Bleaching_Rate

0     32
1     59
2     66
3      8
4     55
5     36
6     84
7     22
8     95
9     66
10    57
11    18
12    59
13    92
14    14
15    33
16    63
Name: Bleaching_Rate, dtype: int64

In [11]:
a = gb.Bleaching_Rate.var()
b = ex.Bleaching_Rate

In [12]:
geodetector (a, b)

there is absolutely no relationship between them, but it is better to check your data input

-3.692615674394726


There are failed tryings below. The purpose to keep them is to remain some useful information may contained in them

In [16]:
example1 = np.array([[82,1],
                    [76,2],
                    [33,3],
                    [21,2],
                    [63,1],
                    [42,3],
                    [29,2],
                    [77,2]])

In [17]:
example1.shape

(8, 2)

In [18]:
geodetector(EX['SalinityCategory'], EX['Bleaching_rate'])

NameError: name 'EX' is not defined

In [ ]:

data=[]
for item in EX:
    sh = item[0]
    if 4 == sh:
        print (item)
        data.append (item)

In [ ]:
data['Bleaching_rate']